* {
	font-family: 'monserrat;';
}

.foto {
	width: 120px;
	float: left;
	margin-left: 33%;
	margin-bottom: 40px;
}

.baris1 {
	background-image: url(img/alam.jpeg);
	background-size: cover;
	position: relative;
}

.teks {
	color: white;
	margin-left: -18px;
}

.foto1 {
	width: 380px;
}

.teks1 {
	text-align: justify;
}


/* DESKTOP VERSION */
@media (min-width: 992px){
	.nav-link {
		margin-left: 140px;
	}

	.bio {
		padding: 80px;
	}

	.carousel-item {
		position: relative;
		overflow: hidden;
		margin-top: -120px;
	}

	.foto {
		width: 200px;
	}

	.baris1 {
		margin-top: -90px;
	}

	.col-md-7 {
		margin-bottom: 180px;
	}

	.judul {
		position: relative;
		float: right;
	}

	td {
		font-size: 18px;
	}

	.teks {
		margin-left: 0;
	}

	.foto1 {
		float: right;
		width: 550px;
	}

	.teks1 {
		text-align: justify;
	}

	.baris1-1 {
		align-content: center;
	}	

}